<footer class="footer-container">
    <ul class="footer-list">
        <li class="footer-link scan-link">
            <div class="icon"><a href="/scan"><i class="fa fa-user"></i></a></div>
        </li>
        <li class="footer-link patient-link">
            <div class="icon"><a href="/patient"><i class="fa fa-stethoscope"></i></a></div>
        </li>
        <li class="footer-link settings-link">
            <div class="icon"><a href="/settings"><i class="fa fa-cog"></i></a></div>
        </li>
    </ul>
</footer>
