<!DOCTYPE html>
<html lang="en" >
  <head>
  <meta charset="UTF-8">
  <title>Signup</title>
     <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="content">
  <div class="title">Create account</div>
  <input type="text" placeholder="E-mail"/>
  <input type="password" placeholder="Password"/>
  <input type="checkbox" id="rememberMe"/>
  <button>Create Account</button>
 
  <div class="already">Already have an account? <a href="/index">Sign In</a></div>
</div>

</body>
</html>
